@font-face {
    font-family: 'Plain';
    src: url('../fonts/Plain-Regular.woff2') format('woff2'),
        url('../fonts/Plain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../fonts/Plain-Light.woff2') format('woff2'),
        url('../fonts/Plain-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../fonts/Plain-Bold.woff2') format('woff2'),
        url('../fonts/Plain-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
h1{
    font-size: 32px;
    font-family: 'Plain-Light';
}
h2{
    font-size: 25px;
}
*{
    margin:0;
    padding:0;
    font-family: 'Plain',serif;
    box-sizing: border-box;
}
.navbar{
    background: #fff;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index: 999;
}
.navbar-container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin:0 auto;
    padding:0 50px;
}
.navbar-logo{
    color:#000;
    text-decoration: none;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
}
.navbar-menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar-item{
    height: 80px;
}
.navbar-links{
    color:#000;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    padding:0 1rem;
}
.navbar-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    margin-top: 15px;
}
.button{
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width:100%;
    height:100%;
    outline:none;
    border:none;
    background:#f9a826;
    color:#000;
    padding:5px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.home-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin:0 auto;
    width:80%;
    height:90vh;
    max-width: 1300px;
    padding:0 13%;
    z-index: 1;
}
.home-container .main-content{
    width:100%;
    position:relative;
    right:23px;
    opacity:0;
    transition:all 1s ease;
}
.home-container .main-content.activeshow{
    right:0;
    opacity:1;
}
.home-container .main-content h2{
    font-size: 2rem;
}
.home-container .main-content button{
    outline:none;
    border:none;
    background: #f9a826;
    padding:10px 25px;
    border-radius: 25px;
    margin-top: 25px;
}
.home-container .main-content button a{
    color:#000;
    text-decoration: none;
}
.home-container .img-container img{
    width:100%;
}
.home-container .img-container{
    position:relative;
    left:23px;
    opacity:0;
    transition:all 1s ease;
}
.home-container .img-container.activeshow{
    left:0;
    opacity:1;
}
.about-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    height:90vh;
    z-index: 1;
    margin:0 auto;
    max-width: 1300px;
    align-items: center;
    justify-self: center;
}
.about-container .img-container img{
    width:100%;
    padding:0 13%;
}
.about-container .img-container{
    position:relative;
    right:23px;
    opacity:0;
    transition: all 1s ease;
}
.about-container .img-container.activeshow{
    right:0;
    opacity:1;
}
.about-container .content-container{
    padding:0 13%;
}
.about-container .main-content h2{
    font-size: 2rem;
}
.about-container .main-content{
    position:relative;
    left:23px;
    opacity:0;
    transition:all 1s ease;
}
.about-container .main-content.activeshow{
    left:0;
    opacity:1;
}
.safety-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    height:90vh;
    z-index: 1;
    margin:0 auto;
    max-width: 1300px;
    align-items: center;
    justify-self: center;
}
.safety-container .img-container img{
    width:100%;
    padding:0 13%;
}
.safety-container .img-container{
    position:relative;
    left:23px;
    opacity:0;
    transition: all 1s ease;
}
.safety-container .img-container.activeshow{
    left:0;
    opacity:1;
}
.safety-container .content-container{
    padding:0 13%;
}
.safety-container .main-content h2{
    font-size: 2rem;
}
.safety-container .main-content{
    position:relative;
    right:23px;
    opacity:0;
    transition:all 1s ease;
}
.safety-container .main-content.activeshow{
    right:0;
    opacity:1;
}
.mobile{
    display:none;
}
.services-section .main-content {
    text-align: center;
    margin-bottom: 52px;
}
.services-section .services-container img{
    width:40%;
}
.services-section .services-container .box-container{
    text-align: center;
}
.services-section .box-container1{
    transform: translateY(53px);
    opacity:0;
    transition:all 1s ease;
}
.services-section .box-container1.activeshow{
    transform: translateY(0px);
    opacity:1;
}
.services-section .box-container2{
    transform: translateY(53px);
    opacity:0;
    transition:all 1s ease;
}
.services-section .box-container2.activeshow{
    transform: translateY(0px);
    opacity:1;
}
.services-section .box-container3{
    transform: translateY(53px);
    opacity:0;
    transition:all 1s ease;
}
.services-section .box-container3.activeshow{
    transform: translateY(0px);
    opacity:1;
}
.container-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width:100%;
    padding:0 13%;
    height:90vh;
}
.container-section .img-container img{
    width:100%;
    margin-top: 12px;
}
.container-section .img-container{
    right:23px;
    position:relative;
    opacity:0;
    transition:all 1s ease;
}
.container-section .img-container.activeshow{
    right:0;
    opacity:1;
}
.container-section .content-container{
    left:23px;
    position:relative;
    opacity:0;
    transition:all 1s ease;
}
.container-section .content-container.activeshow{
    left:0;
    opacity:1;
}
.contact-section{
    margin-bottom: 12%;
    margin-top: 12%;
}
.contact-section .contact-form{
    width:100%;
    padding:0 13%;
    margin-top: 35px;
}
.contact-section .contact-form .button-contact{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.contact-section .contact-form button{
    padding: 10px 30px;
    background:#f9a826;
    outline:none;
    border:none;
    color:#000;
}
.contact-section .contact-container .content-container{
    padding:0 13%;
    text-align: center;
}
.contact-section .content-container{
    right:23px;
    position:relative;
    opacity:0;
    transition:all 1s ease;
}
.contact-section .content-container.activeshow{
    right:0;
    opacity:1;
}
.contact-section .form-container{
    opacity:0;
    transition:all 1s ease;
}
.contact-section .form-container.activeshow{
    left:0;
    opacity:1;
}
.footer-container{
    background:#000;
    color:#fff;
    padding-bottom: 22px;
    padding-top: 22px;
}
.footer-container .content-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:100%;
    max-width: 1300px;
    z-index: 1;
    padding:0 13%;
}
@media (max-width:991px){
    .navbar-container{
        padding:0;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        width:100%;
        position:absolute;
        top:-1000px;
        opacity:0;
        margin:0;
        transition: all .3s ease;
        background:#fff;
    }
    .button{
        display:flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width:50%;
        height:100%;
        outline:none;
        border:none;
        background:#f9a826;
        color:#000;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    .navbar-menu.active{
        top:100%;
        opacity:1;
        transition: all .3s ease;
    }
    .navbar-logo{
        margin-left: 1rem;
    }
    .navbar-toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        background: #000;
        display: block;
    }
    .navbar-toggle{
        cursor:pointer;
    }
    #mobile-menu{
        position:absolute;
        top:20%;
        right:5%;
        transform: translate(5%,20%);
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
}
@media (max-width:767px){
    .home-container{
        display:grid;
        grid-template-columns: auto;
    }
    .about-container{
        display:grid;
        grid-template-columns: auto;
    }
    .safety-container{
        display:grid;
        grid-template-columns: auto;
    }
    .mobile{
        display:block;
    }
    .laptop{
        display:none;
    }
    .services-container .content-container {
        display:grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
    }
    .services-container .content-container .box-container1{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .services-container .content-container .box-container3{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .services-container .box-container2{
        margin-bottom: 20px;
    }
    .services-container .content-container .box-container{
        margin-left: 15%;
    }
    .container-section{
        display:grid;
        grid-template-columns: auto;
        width:100%;
    }
    .container-section .content-container{
        display:grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        width:100%;
    }
    .container-section .img-container .laptop img{
        display: none;
    }
    .container-section .mobile img{
        display:block;
        width:100%;
    }
    .footer-container .content-container{
        display:grid;
        grid-template-columns: auto;
    }
}